{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "react/no-unused-prop-types": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
